<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实时显示CPU&内存&随机数</title>
</head>
<style>
    *{
        margin:0;
        padding: 0;
    }
    #container{
        margin-top:50px;
        margin-left: 100px;
        width:1500px;
    }
    #main{
        max-width: 660px;
        min-width: 520px;
        height:400px;
        border:2px solid #117DBB;
        overflow: hidden;
        float: left;
        margin-left: 20px;
        margin-top:115px;
    }
    #canvas{
        background: #FFF;
    }
    #canvas1{
        background: #FFF;
    }
    #canvas2{
        background: #FFF;
    }
    #sider{
        width:250px;
        height:560px;
        float:left;
        border-right:2px solid #DDD;
    }
    #sider ul li{
        list-style: none;
        margin: 0;
        padding: 0;
        line-height:80px;
        font-size: 20px;
        text-align: center;

    }
    #sider ul li a{
        display: block;
        width:90%;
        height:80px;
        padding: 0;
        margin-top:10px;
        border-radius: 10px;
        border:2px solid #DDD;
    }
    #sider ul li a:hover{
        cursor: pointer;
        background:#E5F3FB;
    }
    #percent{
        float:left;
        margin-top:100px;
    }
    #percent{
        margin-left: 15px;
    }
    #percent ul li{
        list-style: none;
        text-align: left;
        font-size:18px;
        line-height: 40px;
    }
    #displayPercent{
        height:400px;
        width:100px;
        float: left;
        margin-left: 20px;
        margin-top:115px;
        border:2px solid #DDD;
        position: relative;
    }
    #percentDiv{
        position: absolute;
        bottom:0;
        width:100%;
        height:50%;
        background: #8B12AE;
        transition:1s linear height;
    }
    .detail{
        width:500px;
        height:80px;
        position: absolute;
        left:370px;
        top:60px;
    }
    #cpudetail{
    }
    #memdetail{
        display: none;
    }
    #randetail{
        display: none;
    }
    #randetail p{
        font-size:22px;
        margin-top:20px;
    }
    #randetail p span{
        font-size:20px;
        color:gray;
    }
    #cpudetail p span{
        font-size: 23px;
    }
    #cpudetail .perc{
        font-size:18px;
        color: #333;
        display: block;
        margin-top:20px;
    }
    #memdetail p{
        font-size: 20px;
    }
    #memdetail p span{
        font-size: 18px;
        color:gray;
        text-align: right;
    }
    #head{
        width:100%;
        height:270px;
        background: #117DBB;
    }
    #picker1{
        position: absolute;
        top:370px;
        left:100px;
    }
</style>
<script src="http://localhost:8005/js/vue.min.js"></script>
<script src="http://localhost:8005/js/jQuery.js"></script>
<script src="http://localhost:8005/js/colpick.js" type="text/javascript"></script>
<script src="http://localhost:8005/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://localhost:8005/css/colpick.css" type="text/css"/>
<link rel="stylesheet" href="http://localhost:8005/css/bootstrap.min.css">
<body>

<div data-keyboard="false" data-backdrop="static" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">选择边框样式</h4>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">输入网格纵线间隔</span>
                    <input type="number" id="height" class="form-control" placeholder="80" aria-describedby="sizing-addon1">
                </div><br>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon2">输入网格横线间隔</span>
                    <input type="number" id="width" class="form-control" placeholder="40(20的倍数最佳)" aria-describedby="sizing-addon1">
                </div><br>
                <p style="font-size: 18px;font-color:#DDD;">选择网格颜色（不选择则使用默认颜色）:</p>
                <div style="margin:15px auto;" id="picker2"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="loadPage()">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<button style="display: none" id="modelControl" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    开始演示模态框
</button>
<div id="picker1"></div>
<div id="container">
    <div id="sider">
        <ul>
            <li>
                <a @click="cpu" id="side1">CPU:{{CPU}}%</a>
            </li>
            <li><a @click="memory" id="side2">内存:{{MEMORY}}%</a></li>
            <li><a @click="random" id="side3">随机数:{{RANDOM}}</a></li>
            <p style="font-size: 18px;margin-top:18px;">选择曲线以及柱状图颜色:</p>
        </ul>
    </div>
    <div id="cpudetail" class="detail">
        <p><span>CPU </span>{{cpuModel}}</p>
        <p class="perc">%利用率</p>
    </div>
    <div id="memdetail" class="detail">
        <p>内存 <span>{{totalMem}}GB</span></p>
        <p style="display: block;margin-top:20px;">使用量 <span>{{useMem}}GB</span></p>
    </div>
    <div id="randetail" class="detail">
        <p>随机数 <span>{{RANDOM}}</span></p>
    </div>
    <div id="main">
        <canvas id="canvas" width="45000" height="400" style="display: block">您的浏览器暂不支持canvas</canvas>
        <canvas id="canvas1" width="45000" height="400" style="display: none">您的浏览器暂不支持canvas</canvas>
        <canvas id="canvas2" width="45000" height="400" style="display: none">您的浏览器暂不支持canvas</canvas>
    </div>
    <div id="percent">
        <ul>
            <li>90%</li>
            <li>80%</li>
            <li>70%</li>
            <li>60%</li>
            <li>50%</li>
            <li>40%</li>
            <li>30%</li>
            <li>20%</li>
            <li>10%</li>
            <li>0%</li>
        </ul>

    </div>
    <div id="displayPercent">
        <div :style="'height:'+Data+'%'" id="percentDiv"></div>
    </div>
    </div>
</div>

</body>
<script>

    $('#modelControl').click();
    $('#picker1').colpick({
        flat:true,
        layout:'hex',
        submit:0,
        onChange:function(hsb,hex,rgb,el,bySetColor){
            document.getElementById("percentDiv").style.background="#"+hex;
            if(flag==0){
                cpuColor.curveColor="#"+hex;
            }else if(flag==1){
                memColor.curveColor="#"+hex;
            }else if(flag==2){
                ranColor.curveColor="#"+hex;
            }
        }
    });

    var color=null;
    $('#picker2').colpick({
        flat:true,
        layout:'hex',
        submit:0,
        onChange:function(hsb,hex,rgb,el,bySetColor){
            color="#"+hex;
            console.log(color)
        }
    });

    let flag=0;
    var len1=0;
    var len2=0;
    var len3=0;
    var side1=document.getElementById('side1');
    var side2=document.getElementById('side2');
    var side3=document.getElementById('side3')
    var drawing=document.getElementById('canvas');
    var drawing1=document.getElementById('canvas1');
    var drawing2=document.getElementById('canvas2');
    side1.style.background='#50BDEB';
    var app=new Vue({
        el:'#container',
        data:{
            CPU:0,
            MEMORY:0,
            RANDOM:0,
            cpuModel:'',
            totalMem:0,
            useMem:0,
            Data:0,
        },
        methods:{
            cpu:function(){
                document.getElementById('main').style.borderColor=cpuColor.borderColor;
                document.getElementById('cpudetail').style.display='block';
                document.getElementById('memdetail').style.display='none';
                document.getElementById('randetail').style.display='none';
                document.getElementById('side1').style.background='#50BDEB';
                document.getElementById("percentDiv").style.background=cpuColor.curveColor;
                document.getElementById('side2').style.background='white';
                document.getElementById('side3').style.background='white';
                drawing.style.display='block';
                drawing1.style.display='none';
                drawing2.style.display='none';
                drawing.style.marginLeft=len1+'px';
                drawing1.style.marginLeft=len2+'px';
                drawing2.style.marginLeft=len3+'px';
                flag=0;
            },
            memory:function(){
                document.getElementById('main').style.borderColor=memColor.borderColor;
                document.getElementById('cpudetail').style.display='none';
                document.getElementById('memdetail').style.display='block';
                document.getElementById('randetail').style.display='none';
                document.getElementById('side1').style.background='white';
                document.getElementById('side2').style.background='#50BDEB';
                document.getElementById('side3').style.background='white';
                document.getElementById("percentDiv").style.background=memColor.curveColor;
                drawing.style.display='none';
                drawing1.style.display='block';
                drawing2.style.display='none';
                drawing.style.marginLeft=len1+'px';
                drawing1.style.marginLeft=len2+'px';
                drawing2.style.marginLeft=len3+'px';
                flag=1;
                // alert(side2.style.background)
            },
            random:function(){
                document.getElementById('main').style.borderColor=ranColor.borderColor;
                document.getElementById('cpudetail').style.display='none';
                document.getElementById('memdetail').style.display='none';
                document.getElementById('randetail').style.display='block';
                document.getElementById('side1').style.background='white';
                document.getElementById('side2').style.background='white';
                document.getElementById('side3').style.background='#50BDEB';
                document.getElementById("percentDiv").style.background=ranColor.curveColor;
                drawing.style.display='none';
                drawing1.style.display='none';
                drawing2.style.display='block';
                drawing.style.marginLeft=len1+'px';
                drawing1.style.marginLeft=len2+'px';
                drawing2.style.marginLeft=len3+'px';
                flag=2;
            }
        }
    })

    var drawing=document.getElementById('canvas');
    var drawing1=document.getElementById('canvas1');
    var drawing2=document.getElementById('canvas2');
    var cpuColor={
        borderColor:"#8B12AE",
        curveColor:"#9528B4",
        lineColor:"#ECDEF0",
        fillColor:"#F4F2F4"
        // fillColor:rgba(244,242,244,0.5)
    }

    var memColor={
        borderColor:"#117DBB",
        curveColor:"#117DBB",
        lineColor:"#D9EAF4",
        fillColor:"#F1F6FA",
        // fillColor:"rgba(241,246,250,0.5)"
    }

    var ranColor={
        borderColor:"#A74F01",
        curveColor:"#A74F01",
        lineColor:"#EEDECF",
        fillColor:"#FCF3EB",
    }
    var context;
    var context1;
    var context2;
    function DrawCanvas(width,height) {
        width=Number(width);
        height=Number(height);
        document.getElementById('main').style.borderColor=cpuColor.borderColor
        if (drawing.getContext) {
            context = drawing.getContext('2d')
            context.strokeStyle = cpuColor.lineColor;
            context.beginPath();
            for (let i = 0; ; i++) {
                context.moveTo(0, width + width * i)
                if (width + width * i >= 450)
                    break;
                context.lineTo(45000, width + width * i)
            }
            for (let i = 0; ; i++) {
                context.moveTo(height + height * i, 0)
                if (height + height * i >= 45000)
                    break;
                context.lineTo(height + height * i, 400)
            }
            context.stroke()
        }
        if (drawing1.getContext) {
            context1 = drawing1.getContext('2d')
            context1.strokeStyle = memColor.lineColor;
            context1.beginPath();
            for (let i = 0; ; i++) {
                context1.moveTo(0, width + width * i)
                if (width + width * i >= 450)
                    break;
                context1.lineTo(45000, width + width * i)
            }
            for (let i = 0; ; i++) {
                context1.moveTo(height + height * i, 0)
                if (height + height * i >= 45000)
                    break;
                context1.lineTo(height + height * i, 400)
            }
            context1.stroke()
        }
        if (drawing2.getContext) {
            context2 = drawing2.getContext('2d')
            context2.strokeStyle = ranColor.lineColor;
            context2.beginPath();
            for (let i = 0; ; i++) {
                context2.moveTo(0, width + width * i)
                if (width + width * i >= 450)
                    break;
                context2.lineTo(45000, width + width * i)
            }
            for (let i = 0; ; i++) {
                context2.moveTo(height + height * i, 0)
                if (height + height * i >= 45000)
                    break;
                context2.lineTo(height + height * i, 400)
            }
            context2.stroke()
        }
    }

    var timer={};
    function DrawLine() {
        var x, y;
        x = -10;
        y = 400;
        x1 = x;
        y1 = y;
        x2 = x;
        y2 = y;
        timer.time = setInterval(function () {
            $.ajax({
                url: '/getcpu',
                type: 'get',
                success: function (res) {
                    app.CPU = (res.cpu * 100).toFixed(1);
                    app.MEMORY = (100-(res.memory * 100)).toFixed(1);
                    app.cpuModel=res.cpus[0].model;
                    app.totalMem=(res.totalmem/1024/1024/1024).toFixed(2);
                    app.useMem=((res.totalmem-res.freemem)/1024/1024/1024).toFixed(2);
                    app.RANDOM=res.ran;
                    if(flag==0){
                        app.Data=app.CPU;
                    }else if(flag==1){
                        app.Data=app.MEMORY;
                    }else{
                        app.Data=app.RANDOM*100;
                    }
                    context.strokeStyle = cpuColor.fillColor
                    context.strokeWidth = 2;
                    context.beginPath();
                    context.moveTo(x, y);
                    var tempX = x;
                    var tempY = y;
                    x += 10;
                    if(x>=520){
                        drawing.style.marginLeft=drawing.offsetLeft-374-10+'px';
                        len1=len1-10;
                    }
                    let percentage=0;
                    percentage=app.CPU/100
                    y = 400 - 400 * percentage;
                    if (x === 0){
                        context.moveTo(x, y);
                    }
                    context.lineTo(x, y)
                    context.lineTo(x, 400)
                    context.lineTo(x - 10, 400)
                    context.lineTo(x - 10, tempY)
                    context.fillStyle = cpuColor.fillColor
                    context.fill();
                    context.stroke();
                    context.beginPath();
                    context.strokeStyle = cpuColor.curveColor;
                    context.moveTo(tempX, tempY)
                    context.lineTo(x, y)
                    context.stroke();

                    context1.strokeStyle = memColor.fillColor;
                    context1.strokeWidth = 0;
                    context1.beginPath();
                    context1.moveTo(x1, y1);
                    var tempX1 = x1;
                    var tempY1 = y1;
                    x1 += 10;
                    if(x1>=520){
                        drawing1.style.marginLeft=drawing1.offsetLeft-374-10+'px';
                        len2=len2-10;
                    }
                    let percentage1=0;
                    percentage1=app.MEMORY/100
                    y1 = 400 - 400 * percentage1;
                    if (x1 === 0){
                        context.moveTo(x1, y1);
                    }
                    context1.lineTo(x1, y1)
                    context1.lineTo(x1, 400)
                    context1.lineTo(x1 - 10, 400)
                    context1.lineTo(x1 - 10, tempY1)
                    context1.fillStyle = memColor.fillColor;
                    context1.fill();
                    context1.stroke();
                    context1.beginPath();
                    context1.strokeStyle = memColor.curveColor;//绘制曲线
                    context1.moveTo(tempX1, tempY1)
                    context1.lineTo(x1, y1)
                    context1.stroke();
                    context2.strokeStyle = ranColor.fillColor;
                    context2.strokeWidth = 0;
                    context2.beginPath();
                    context2.moveTo(x2, y2);
                    var tempX2 = x2;
                    var tempY2 = y2;
                    x2 += 10;
                    if(x2>=520){
                        drawing2.style.marginLeft=drawing2.offsetLeft-374-10+'px'
                        len3=len3-10;
                    }
                    let percentage2=0;
                    percentage2=app.RANDOM;
                    y2 = 400 - 400 * percentage2;
                    if (x2 === 0){
                        context2.moveTo(x2, y2);
                    }
                    context2.lineTo(x2, y2)
                    context2.lineTo(x2, 400)
                    context2.lineTo(x2 - 10, 400)
                    context2.lineTo(x2 - 10, tempY2)
                    context2.fillStyle = ranColor.fillColor;
                    context2.fill();
                    context2.stroke();
                    context2.beginPath();
                    context2.strokeStyle = ranColor.curveColor;//绘制曲线
                    context2.moveTo(tempX2, tempY2)
                    context2.lineTo(x2, y2)
                    context2.stroke();
                },
                failed: function (err) {
                    console.log("error" + err);
                }
            })
        }, 1000)
        context.stroke();
        context1.stroke();
        context2.stroke();
    }
    function loadPage(){
        var width=document.getElementById('width').value;
        var height=document.getElementById('height').value;
        if(width==''&&height==''){
            height=80;
            width=40;
        }
        width=Number(width);
        height=Number(height);
        if(width<=10||height<=20){
            alert('输入数值太小');
            return;
        }
        if(color!=null){
            cpuColor.borderColor=color;
            cpuColor.lineColor=color;
            memColor.borderColor=color;
            memColor.lineColor=color;
            ranColor.borderColor=color;
            ranColor.lineColor=color;
        }
        DrawCanvas(width,height);
        DrawLine();
        $('#modelControl').click();
    }

</script>
</html>
